Menu:

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/wiki/MicroArraysDatasetsManagement.html' | relative_url }}">MicroArrays Datasets Management</a>
  <li><a href="{{ '/wiki/MicroArraysDatasetsPreprocessing' | relative_url }}">MicroArrays Datasets Preprocessing</a>
  <li><a href="{{ '/wiki/MicroArraysStatisticalAnalysis' | relative_url }}">MicroArrays Statistical Analysis</a>
  <li><a href="{{ '/wiki/MicroArraysClustering' | relative_url }}">MicroArrays Clustering</a>
  <li><a href="{{ '/wiki/MicroArraysFunctionalAnalysis' | relative_url }}">MicroArrays Functional Analysis</a>
</ul>
